{% extends "layout.html" %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/vistaSuper.css') }}">
{% endblock %}


{% block content %}
<main>
    <div class="info-Admin">
        <div class="Adm-info">
            <img src="{{ url_for('static', filename='imgs/dafault.png') }}" alt="">
            <div class="Admin-info-ocupacion">
                <p class="nombre">Oscar Correa</p>
                <p class="cedula">102453612</p>
                <p class="ocupacion">Programador</p>
            </div>
        </div>
        <div class="calificar">
            <div class="formulario">
                <div class="izq">
                    <div>
                        <p class="titulo">Fecha de nacimiento</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Edad</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Estado civil</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Celular</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Dirección</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Email</p>
                        <p></p>
                    </div>
                
                    <div>
                        <p class="titulo">Fecha de ingreso</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Fecha de termino</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Tipo de contrato</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Salario</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Rol</p>
                        <p></p>
                    </div>
                    <div>
                        <p class="titulo">Disponibilidad</p>
                        <p></p>
                    </div>
                </div>
            </div>
            <ul id="calificaciones">
                <li>
                    <div class="calificaciones">
                        <p class="fecha">octubre 2021</p><p class="comentarios">Excelente desempeño</p>
                    </div>
                </li>
                <li>
                    <div class="calificaciones">
                        <p class="fecha">octubre 2021</p><p class="comentarios">Excelente desempeño</p>
                    </div>
                </li>
                <li>
                    <div class="calificaciones">
                        <p class="fecha">octubre 2021</p><p class="comentarios">Excelente desempeño</p>
                    </div>
                </li>
            </ul>
            
            <form action="" class="form_comentarios">
                <textarea name="" id="caja" placeholder="Comentarios"></textarea>
                <input type="date" name="" id="">
                <select name="" id="">
                    <option value="">Excelente</option>
                    <option value="">Normal</option>
                    <option value="">Regular</option>
                </select>
            </form>
            
        </div>
       
        <div class="admin-buttons">
            <button id="volver" class="button">VOLVER</button>
            <button id="calificar" class="button">CALIFICAR</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</main>
</main>
{% endblock %}