
body {
    background-color: var(--background-color);
}

/* organizar todos los elementos en el centro de la pagina */
.container, form, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 85vh;
    justify-content: center;
    align-items: center;
}

/* estilizar el texto de la pagina */
.titulo,.titulo span {
    font-size: 6.25rem;
    
}

.titulo span {
    color: var(--main-color);
}

h3 {
    font-size: 2.18rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    background-color: transparent;
}

/* personalizar los botones */
.button {
    border: 0;
    border-radius: 25px;
    height: 2.5rem;
    width: 13rem;
    color: var(--background-color);
    background-color: var(--main-color);
    font-weight: bold;
    align-items: center;
}

.button:hover{
    cursor: pointer;
    background-color: var(--main-color-dark);
    color: white;
}

/* colocar el footer al final de la pagina y centrar sus elementos */
footer {
    background-color: white;
    width: 100vw;
    height: 15vh;
    justify-content: center;
    position: relative;
    bottom: 0;
}

/* personalizar los inputs */
input[type=text],input[type=password],input[type=email]{
    border: 3px solid var(--secondary-color);
    border-radius: 50px;
    width: 16rem;
    height: 2.5rem;
    padding: 0.75rem 1.25rem;
}

input:focus {
    outline:none;
}

/* checkbox personalizado */
.datos {
    display: flex;
    align-items: center;
}

.lbl {
    font-size: 10px;
    display: inline-block;
    width: 4em;
    height: 1.8em;
    background: var(--secondary-color);
    border-radius: 6em;
    position: relative;
    transition: .4s;
}

.lbl::after {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    background: var(--background-color);
    border-radius: 50%;
    position: absolute;
    top: 0.15em;
    left: 0.25em;
    transition: .4s;
}

#recordar:checked + .lbl::after {
    left: 2.4em;
}

#recordar:checked + .lbl {
    background: var(--main-color);
}

#recordar {
    display: none;
}

#rdatos {
    margin-left: 4px;
}


